<div class="col-3">
    <div class="p-3">
      <div class="card">
        <img src="images/products/Rozetka.png" class="card-img-top mt-2" alt="...">
        <div class="card-body">
          <h5 class="product-title text-center">TESSAN Listwa Zasilająca</h5>
          <div class="row align-items-center mt-3">
            <div class="col">
              <div class="p-2 text-start">
                <p class="card-text product-price">70,00zł</p>
              </div>
            </div>
            <div class="col">
              <div class="p-2 text-end">
                <a href="https://github.com/Radusya/ConsolePoker" target="_blank" tabindex="-1"
                class="btn-sm btn-cart text-white"><img class="nav-ico-1" src="images/icons/cart.png"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>